 * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    width: 1170px;
    margin: 0 auto;
    background-color: #f1f1f1;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}
.title {
    margin-left: 30px;
    margin-bottom: 25px;
    font-size: 40px;
}
.header-logo-tel {
    display: flex;
    align-items: center;
    margin-top: 30px;
}
.tel {
    margin-left: 25px;
    margin-right: auto;
}
.header-list-input{
    display: flex;
    align-items: center;
    margin-top: 40px;
    min-height: 70px;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 12px;
}
.header-nav {
    display: flex;
   
}
.header-list {
    display: flex;
}
.header-list-item {
    margin-right: 40px;
    margin-left: 30px;
}
.input-search {
   margin-left: 120px;
}
.header-list-item-link {
    font-size: 16px;
    color: black;
}
/* секция 1 */
.container-first-section {
    display: flex;
    margin-top: 70px;
}
.first-section-fast {
    width: 50%;
}

.first-section-fast-list {
    display: flex;
    flex-direction: column;
}
.first-section-fast-list-item:not(:last-child) {
    margin-bottom: 25px;
}
.first-section-fast-list-item {
    padding-top: 30px;
    min-height: 75px;
    border: 1px solid #ffffff;
    border-radius: 12px;
    background-color: #ffffff;   
}
.first-section-fast-link {
    padding-left: 25px;
    font-size: 16px;
    color: #d6d6d6;
}
.first-section-btn-text {
    display: flex;
    align-items: center;
    margin-top: 30px;
}
.first-section-btn {
    width: 160px;
    height: 70px;
    font-size: 16px;
    color: #ffffff;
    border: 1px solid #cc9933;
    border-radius: 12px;
    background-color: #cc9933;
}
.first-section-fast-offer {
    margin-left: 30px;
    color: #cecece;
}
.first-section-fast-span {
    font-size: 16px;
    font-weight: bold;
    color: #cc9933;
}
.first-section-lux {
    position: relative;
    margin-left: 60px;
    width: 45%;
}
.fist-section-lux-items {
    position: absolute;
    min-height: 540px;
    bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-image: url(/img/nomer.png);
}
.first-section-lux-item {
    padding-left: 30px;
    width: 30%;
    font-size: 66px;
    color: #ffffff;
}
.first-section-lux-more {
    display: flex;
    margin-top: 40px;
    margin-bottom: 35px;
}
.first-section-lux-item-two {
    padding-left: 30px;
    font-size: 35px;
    color: #a49487;
}
.first-section-lux-line {
    margin-left: 40px;
    color: #ffcc66;
}
.first-section-lux-span {
    padding-top: 13px;
}
.first-section-lux-gl {
    margin-left: 5px;
}

/* Секция 2 */
.container-info {
    margin-top: 80px;
}
.info-text {
    margin-left: 45px;
    width: 68%;
    font-size: 16px;
    line-height: 36px;
    color: #666666;
}
/* Секция 3 */
.container-service {
    margin-top: 70px;
}
.service-blocks {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.block {
    width: 48%;
    margin-bottom: 25px;
    min-height: 330px;
    background-color: #ffffff;
    border-radius: 12px;
}
.services  {
    display: flex;
    margin-top: 35px;
    margin-left: 45px;
}
.service-link {
    font-size: 22px;
    color: #cc9933;
}
.service-main-text {
    margin-left: 45px;
    margin-top: 15px;
    width: 62%;
    font-size: 16px;
    line-height: 25px;
}
.service-img {
    margin-left: 15px;
    padding-top: 5px;
}   
/* секция 4 */
.container-advantages {
    margin-top: 70px;
}
.advantages-cards {
    margin-bottom: 20px;
    width: 24%;
    min-height: 275px;
    background-color: #ffffff;
    border-radius: 12px;
}
.advantages-main-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.advantages-img {
    margin-top: 40px;
    margin-left: 45px;
}
.advantages-cards-text {
    margin-left: 45px;
    margin-top: 15px;
    width: 60%;
    font-size: 16px;
    line-height: 32px;
}
/* Секция 4 */
.container-placement {
    margin-top: 65px;
}

.placement-main-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.placement-block {
    margin-bottom: 25px;
    margin-top: 35px;
    min-height: 440px;
    width: 30%;
    background-color: #ffffff;
    border-radius: 12px;
}

.placement-star-container {
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-left: 45px;
}
.placement-from-span {
    font-size: 16px;
    color: #969696;
}
.placement-price-span {
    margin-left: 5px;
    font-size: 22px;
}
.placement-stars {
    margin-left: 60px;
    padding-top: 5px;
}
.placement-list-item-name {
    margin-left: 45px;
    margin-top: 25px;
    font-size: 16px;
    color: #5d5d5d;
}
.placement-list-item-country {
    margin-left: 45px;
    margin-top: 20px;
    color: #c6c6c6;
}
.placement-btn  {
    margin-top: 25px;
    margin-left: 45px;
    width: 100px;
    height: 40px;
    color: #d1a449;
    border: 2px solid #d1a449;
    border-radius: 12px;
    background-color: #ffffff;
}
.placement-link {
    color: #d1a449;    
}

.placement-block9 {
    position: relative;
    background-image: url(/img/variants/41.jpg);
}
.placement-variants-block {
    position: absolute;
    left: 40px;
    bottom: 55px;
    display: flex;
   justify-content: center;
}
.placement-variants-text-link {
    font-size: 24px;
    color: #ffffff;
}
.placement-variants-img {
    margin-left: 10px;
}